@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #5a5a5a50;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: #5a5a5a50;
}
